{% extends "base.html" %}

{% block content %}

<h1 class="center-align">Login</h1>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div class="row">
<form class="col s12 m12 l12" method="post" action="{% url 'login' %}">
{% csrf_token %}
    <div class="row">
        <div class="input-field col s12 m12 l12">
            {{ form.username }}
            <label for="username">{{ form.username.label_tag }}</label>
        </div>
   </div>

   <div class="row">
        <div class="input-field col s12 m12 l12">
            {{ form.password }}
            <label for="username"> {{form.password.label_tag }}</label>
        </div>
   </div>
<button class="btn-large waves-effect indigo" type="Submit">Login</button>
<input type="hidden" name="next" value="{{ next }}" />
</form>


{% endblock %}